.hobbies {
    margin-top: 80px;
    &__wrapper {
        margin-top: 30px;
        width: 80%;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        display: flex;
        flex-direction: column;
        width: 70px;
        text-align: center;
        align-items: center;
        &-img {            
            display: block;
            width: 70%;
        }
        &-subtitle {
            margin-top: 10px;
        }
    }
}